body {
    font-family: sans-serif;
}

 main img{
    border: 5px solid black;
    border-radius: 50%;
    align-items: center;
    display: flex;
    opacity: 0.5;
    
   
}
footer img{
    border: 5px solid black;
}
.img{
    display: flex;
}
img {
    border-radius: 40%;


    
}
p{
   text-align: center;
   color: rgb(0, 0, 255);
   font-size: 25px;
   text-shadow: 5px 10px 10px  rgb(200, 0, 255);
   opacity: 0.4;
}



 main a{
  box-shadow: 5px 5px 5px 0 rgb(68, 0, 128); 

}
.link-nav {
    text-decoration: none;
}
h1{
    text-align: center;
    color: rgb(13, 0, 128);
    font-size: 96px;
    text-shadow: 5px 10px 10px  rgb(217, 0, 255);
    top: 10px;
}
head title{
   text-shadow: 5px 5px 5px  green;  
}
img:hover{
    opacity: 1;
}
p:hover{
  opacity: 1;
} 
footer p {
    background-image: linear-gradient(pink,lightblue,purple);
    font-size:50px;
}
